.float-time {
    z-index: 2;
    display:inline-block;
    width: 100%;
}
.period .name {
    width:100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: black;
    text-overflow: ellipsis;
    word-break:normal;
    overflow: hidden;
    white-space: wrap;
    padding-bottom: 0.5em;
}