.button-tray {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.button-tray button {
    padding: 4px;
    margin:3px;
    font-size: 1em;
}

.button-tray button * {
    height: 100%;
    font-size: 100%;
    padding: 2px 4px;
}
button.delete {
    background-color: rgb(220, 50, 50);
}
button.edit {
    color:#333;
    background-color: #fcdf64;
}
.confirm-delete {
    position: absolute;
    z-index: 100;
    display: block;
    top: calc(-80%);
    width: 100px;
    height: 100px;
    background-color: white;
    border: #333 solid 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.confirm-delete.hidden {
    display: none;
}