nav {
    width: 100%;
    background-color: #004781;
}

.navbar {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

.navbar-links {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.navbar-links li a:hover {
    color: #c9d2d4;
}
